*.gguf
*.bin
*.pt
*.pth
*.jsonl
*.rar
*.zip
*.7z
*.dll
*.exe

models/
notebooks/models/
notebooks/phase2_training/online/
notebooks/phase3_optimization/gguf_model/
notebooks/phase3_optimization/llama.cpp.old*

.agent/
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env
